.pag4-4{
	height: 400px;
	background-image: url("https://www.mooc.org/hubfs/can-i-become-engineer-without-degree.jpg");
	
	filter: brightness(0.6);
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}